* {
    margin: 0;
    padding: 0;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    height: 50px;
}

nav .details ul {
    display: flex; 
    list-style: none; 
}

nav .details ul li {
    margin: 0 10px; }

nav .details ul li a {
    text-decoration: none; 
    color: black; 
}
.home1{
    display:flex;
    align-items: flex-start;
    justify-content:flex-start ;
    width: 100%;
    height: 92vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1683309565422-77818a287060?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
